/*Noi editam css doar aici */
* {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.plus {
  color: #00CC00;
  padding: 10px 5px;
  text-align: right;
}

.minus {
  color: #CC0000;
  padding: 10px 5px;
}

input[type="date"] {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

input[type="date"]:hover {
  background-color: rgba(128, 216, 255, 0.3);
}

.date-label {
}

.invisibleButton {
  padding: 0;
  opacity: 0;
  transition: all 0.2s;
  outline:none;
}

.visible {
  margin: 0;
  opacity: 1;
  transition: all 0.2s;
  outline:none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
}

.skills-section[contenteditable=true] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
}

li[contenteditable=true], h3[contenteditable=true] {
  width: auto;
}

.both-margins {
  margin: 0 28px;
  border-right: 1px solid #0091EA;
  border-left: 1px solid #0091EA;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, transparent), color-stop(0.5, #0091ea), color-stop(0.5, #0091ea), color-stop(1, transparent)) 0 100%;
}

.margins {
  margin-left: 14%;
  border-left: 1px solid #0091EA;
  border-right: 0;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, transparent), color-stop(0.5, #0091ea), color-stop(0.5, #0091ea), color-stop(1, transparent)) 0 100%;

}

.margin {
  margin-right: 24%;
}

.space {
  margin: 30px 0;
}

[contenteditable=true] {
  width: 140px;
  transition: .05s ease-in-out;
  outline: none;
}

.pull-right {
  width: 70%;
}

.remove-button {
  float: right;
  margin-top: -10px;
}

.language[contenteditable=true] {
  width: 96px;
  text-align: center;
}

.lang[contenteditable=true] {
  width: 100px;
  text-align: left;
}

.parent {
  position: relative;
}

[contenteditable=true]:hover {
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

.rmv-btn {
  position: absolute;
  top: 0;
  right: 0;

}

[contenteditable=true]:hover {
  background-color: rgba(128, 216, 255, 0.3);
}

section > hr {
  padding: 0;
  border: none;
  border-top: medium double #0091EA;
  color: #0091EA;
  text-align: center;
  margin: 5px 0 15px 0;
}

section > h3 {
  color: #0091EA;
  margin-top: 0;
  text-align: center;
}

.hr-between-items {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 145, 234, 0), rgba(0, 145, 234, 1), rgba(0, 145, 234, 0));
}

.lang-margin {
  margin-left: -15px;
  margin-right:-5px;
  border-left:0;
  border-right:1px solid #0091EA;
  -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, transparent), color-stop(0.5, #0091ea), color-stop(0.5, #0091ea), color-stop(1, transparent)) 0 100%;
}

.hr-margin {
  margin-top:30px;
}

.plus-btn {
  position: absolute;
}
/*------------------------------------------------SIDEBAR CSS-----------------------------------------------------*/
.sidebar-container {
  width: 95%;
  margin-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
  margin-bottom: 20px;
  border-radius: 6px;
}

.upload-photo {
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
}

.sidebar-container h3 {
  color: #0091EA;
}

.sidebar-container h2,
.sidebar-container h4 {
  text-align: center;
  display: inline-block;
}

.sidebar-container i {
  color: #0091EA;
  font-size: 20px;
  margin: 0 25px 0 20px;
}

.sidebar-container p {
  margin: 0 10px 0 10px;
  text-align: center;
}

.about-section hr,
.contact-section hr,
.social-section hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 145, 234, 0), rgba(0, 145, 234, 1), rgba(0, 145, 234, 0));
}

.contact-section, .social-section {
  text-align: center;
}

.about-section i {
  margin: 0 10px 0 -15px;
}

.contact-section h4, .social-section h4 {
  display: block;
  color: #0091EA;
}

.about-section h4 {
  color: #0091EA;
}

.contact-section i,
.social-section i {
  margin: 10px -10px 10px 10px;
  font-size: 20px;
}

.social-section i {
  font-size: 25px;
}

.contact-section span,
.social-section span {
  color: #000000;
  font-size: 15px;
  display: inline-block;
  width: 74%;
  margin-left: 13px;
  text-align: left;
}

section .fa-circle {
  color: #0091EA;
  margin-right: 10px;
}

.bulleted-text {
  font-weight: 600;
  color: #0091EA;
}

/*------------------------------------------------LIST VIEW CSS---------------------------------------------------------*/
.list-view {
  background-color: dimgray;
  width: 105%;
  height: 100%;
  padding: 50px;
  margin: 0 -15px;
}

.create-document, .existing-document {
  width: 300px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  box-shadow: 0 19px 15px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.existing-document:hover {
   background-color: rgba(179,229,252,1);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.create-document i {
  font-size: 100px;
  margin: 0 auto;
  display: block;
  color: #00C853;
  text-align: center;
  line-height: 3.5;
}

.existing-document h2 {
  line-height: 10;
}
.list-btns {
  position: absolute;
  top:40%;
  left:29%;
}
.existing-document-wrapper {
  position: relative;
  width: 300px;
  height: 400px;
  display: inline-block;
}
/*------------------------------------------------HEADER CSS---------------------------------------------------------*/

.header-nav {
  margin-left: -25px;
}

.gray-navbar {
  float: left;
  margin-left: 20px;
  display: inline-block;
  padding: 10px 0
}

.document-title {
  font-size: 30px;
  margin: 5px 15px 3px 15px;
  float: left;
  text-align: center;
  display: inline-block;
}

.undo-btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 15px 15px 3px 15px;
  background-color: transparent;
  outline: none;
  border: none;
}

.undo-btn:active {
  color: #0091EA;
}

.navbar-default .navbar-nav > li > a {
  color: #000000;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #0091EA;
}

/*-------------------------Clase default ale yeoman de care nu ne atingem ca sunt gandite bine------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  width: 100%;
  background-color: #eeeeee;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.document-page {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease-in-out;
  margin-bottom: 50px;
}

.document-page:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

section, aside {
  transition: 0.1s ease-in-out;
  padding: 5px 5px;
  border-radius: 6px;
}

/*section:hover, aside:hover {*/
/*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);*/
/*}*/

