/*Noi editam css doar aici */
.wrapper {
  width:90%;
  margin:0 auto;
}

i.plus {
  color: #00CC00;
}
i.minus {
  color: #CC0000;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;

}

[contenteditable=true] {
  width: 150px;
  padding: 5px;
  text-align: center;
}
/*------------------------------------------------SIDEBAR CSS-----------------------------------------------------*/
.sidebar-container{
  width: 200px;
  padding-bottom: 30px;
  background-color: #E3F2FD;
  display: inline-block;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 20px;
  border-radius: 6px;
}
.upload-photo {
  width: 200px;
  height: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.sidebar-container h2,
.sidebar-container h4 {
  text-align: center;
  display: inline-block;
}
.sidebar-container i {
  color: #0D47A1;
  font-size: 20px;
  margin:0 25px 0 20px;
}
.sidebar-container p {
  margin:0 10px 0 10px;
  text-align: left;
}
.about-section hr,
.contact-section hr,
.social-section hr {
  width: 170px;
  border-color: #0D47A1;
}
.contact-section, .social-section {
    text-align: center;
}
.contact-section h4 {
  display: block;
}
.contact-section i,
.social-section i {
  margin: 10px -10px 10px 10px;
  font-size: 20px;
}
.social-section i {
  font-size: 25px;
}
.contact-section span,
.social-section span {
  color: #000000;
  font-size: 16px;
  display: inline-block;
  width: 150px;
  margin-left: 10px;
  text-align: left;
}
/*------------------------------------------------SIDEBAR CSS---------------------------------------------------------*/
.list-view {
  background-color: dimgray;
  width: 100%;
  height: 100%;
  padding: 50px;
}
.create-document, .existing-document {
  width: 300px;
  height: 400px;
  background-color: whitesmoke;
  border-radius: 6px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.create-document i {
  font-size: 100px;
  margin:0 auto;
  display: block;
  color: #00C853;
  text-align: center;
  line-height: 3.5;
}
.existing-document h2 {
  line-height: 10;
}
/*-------------------------Clase default ale yeoman de care nu ne atingem ca sunt gandite bine------------------------*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  width:100%;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.hide-buttons button {
  display: none;
}
