<div class="col-md-3">Aici editeaza Roxana</div>
<div class="col-md-8 col-md-offset-1">
  <div>
    <h2>Work experience</h2>
    <div>
      <div class="pull-left hide-buttons">
        <div contenteditable="true" ng-click="displayButtons($event)" placeholder="Position"></div>
        <button class="save-btn" ng-click="saveAction()">Save</button>
        <button class="cancel-btn" ng-click="cancelAction()">Cancel</button>
      </div>
      <div class="pull-right">
        <div class="hide-buttons">
          <div contenteditable="true" ng-click="displayButtons($event)" placeholder="Company name and location"></div>
          <button class="save-btn" ng-click="saveAction()">Save</button>
          <button class="cancel-btn" ng-click="cancelAction()">Cancel</button>
        </div>
          <span>From:
          <label>
            <input type="date"/>
          </label>
        </span>
        <span>To:
          <label>
            <input type="date"/>
          </label>
        </span>
        <div class="hide-buttons">
        <div contenteditable="true" ng-click="displayButtons($event)" placeholder="Description"></div>
          <button class="save-btn" ng-click="saveAction()">Save</button>
          <button class="cancel-btn" ng-click="cancelAction()">Cancel</button>
        </div>
      </div>
      <div class="clearfix"></div>
      <i class="glyphicon glyphicon-minus"></i>
      <i class="glyphicon glyphicon-plus"></i>
    </div>
  </div>
  <div>
    <h2>Education</h2>
    <div class="pull-left"><span contenteditable="true" placeholder="Degree"></span></div>
    <div class="pull-right">
      <span contenteditable="true" placeholder="School name and location"></span>
      <span>From:<label>
        <input type="date">
      </label></span>
      <span>To:<label>
        <input type="date">
      </label></span>
      <div><span contenteditable="true" placeholder="description"></span></div>
    </div>
    <div class="clearfix"></div>
    <i class="glyphicon glyphicon-minus"></i>
    <i class="glyphicon glyphicon-plus"></i>
  </div>
  <div>
    <h2>Languages</h2>
    <span>Understanding</span>
    <span>Speaking</span>
    <span>Writing</span>
    <div class="row">
      <div class="col-md-2">English</div>
      <div contenteditable="true" placeholder="C1" class="col-md-2"></div>
      <div contenteditable="true" placeholder="C1" class="col-md-2"></div>
      <div contenteditable="true" placeholder="C1" class="col-md-2"></div>
      <i class="glyphicon glyphicon-minus"></i>
      <i class="glyphicon glyphicon-plus"></i>
    </div>
  </div>
  <div>
    <h2>Professional Skills</h2>
    <div contenteditable="true" placeholder="e.g. team player"></div>
  </div>
</div>
