<div class="col-md-4">
  <aside class="sidebar-container">
    <img class="upload-photo"
         src="https://pixabay.com/static/uploads/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
         alt="Resume photo"/>
    <div>
      <h3 contenteditable="true" placeholder="Name">{{ personalDetails.name }}</h3>
      <h4 contenteditable="true" placeholder="Current position">{{ personalDetails.currPos }}</h4>
    </div>
    <div class="about-section">
      <hr>
      <h4><i class="glyphicon glyphicon-user"></i>About me</h4>
      <p contenteditable="true"
         placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">
        {{ personalDetails.aboutMe }}
      </p>
    </div>
    <div class="contact-section">
      <hr>
      <h4>Contact Info</h4>
      <div class="contact-phone">
        <i class="glyphicon glyphicon-earphone"></i>
        <span contenteditable="true" placeholder="Phone number">{{ personalDetails.phoneNumber }}</span>
      </div>
      <div class="contact-address">
        <i class="glyphicon glyphicon-map-marker"></i>
        <span contenteditable="true" placeholder="Address">{{ personalDetails.address }}</span>
      </div>
      <div class="contact-email">
        <i class="glyphicon glyphicon-envelope"></i>
        <span contenteditable="true" placeholder="E-mail">{{ personalDetails.email }}</span>
      </div>
      <div class="contact-website">
        <i class="glyphicon glyphicon-globe"></i>
        <span contenteditable="true" placeholder="Website">{{ personalDetails.website }}</span>
      </div>
    </div>
    <div class="social-section">
      <hr>
      <h4>Social Media</h4>
      <div class="social-skype">
        <i class="fa fa-skype"></i>
        <span contenteditable="true" placeholder="Skype ID">{{ personalDetails.skype }}</span>
      </div>
      <div class="social-linkedin">
        <i class="fa fa-linkedin-square"></i>
        <span contenteditable="true" placeholder="LinkedIn profile">{{ personalDetails.linkedin }}</span>
      </div>
    </div>
  </aside>
</div>
<article class="col-md-8">
  <section class="space" ng-mouseenter="showButtons.work = true" ng-mouseleave="showButtons.work = false">
    <h2>Work experience</h2>
    <span ng-click="addField('workingExperience')" ng-class="showButtons.work ? 'visible' : 'invisibleButton'">
    <i class="glyphicon glyphicon-plus plus"></i>
    <span class="plus">Add Item</span>
    </span>
    <div ng-repeat="item in workingExperience">
      <div class="pull-left">
        <div contenteditable="true" placeholder="Position">{{item.position}}</div>
      </div>
      <div class="pull-right">
        <div>
          <div contenteditable="true" placeholder="Company name and location">{{item.company}}</div>
        </div>
          <span>From:
          <label>
            <input type="date"/>
          </label>
        </span>
        <span>To:
          <label>
            <input type="date"/>
            <span><input type="checkbox"/>I currently work here</span>
          </label>
        </span>
        <div>
          <div contenteditable="true" placeholder="Description">{{item.description}}</div>
        </div>
      </div>
      <div class="clearfix"></div>
      <span data-id={{$index}} ng-click="deleteField('workingExperience', $event)"
            ng-class="showButtons.work ? 'visible' : 'invisibleButton'">
        <i class="glyphicon glyphicon-minus minus"></i>
        <span class="minus">
          Remove Item
        </span>
      </span>
    </div>
  </section>
  <section class="space" ng-mouseenter="showButtons.education = true" ng-mouseleave="showButtons.education = false">
    <h2>Education</h2>
    <span ng-click="addField('workingExperience')" ng-class="showButtons.education ? 'visible' : 'invisibleButton'">
      <i class="glyphicon glyphicon-plus plus"></i>
      <span class="plus">Add Item</span>
    </span>
    <div ng-repeat="item in education">
      <div class="pull-left">
        <div contenteditable="true" placeholder="Degree">{{item.degree}}</div>
      </div>
      <div class="pull-right">
        <div>
          <div contenteditable="true" placeholder="School name and location">{{item.school}}</div>
        </div>
      <span>From:<label>
        <input type="date">
      </label></span>
      <span>To: <label>
        <input type="date">
      </label></span>
        <div>
          <div contenteditable="true" placeholder="description">{{item.description}}</div>
        </div>
      </div>
      <div class="clearfix"></div>
            <span data-id={{$index}} ng-click="deleteField('workingExperience', $event)"
                  ng-class="showButtons.education ? 'visible' : 'invisibleButton'">
        <i class="glyphicon glyphicon-minus minus"></i>
        <span class="minus">
          Remove Item
        </span>
      </span>
    </div>
  </section>
  <section class="space" ng-mouseenter="showButtons.languages = true" ng-mouseleave="showButtons.languages = false">
    <h2>Languages</h2>
    <span ng-click="addField('workingExperience')" ng-class="showButtons.languages ? 'visible' : 'invisibleButton'">
      <i class="glyphicon glyphicon-plus plus"></i>
      <span class="plus">Add Item</span>
    </span>
    <div ng-repeat="item in languages">
      <div class="row">
        <span class="col-md-2 margins">Understanding</span>
        <span class="col-md-2 both-margins">Speaking</span>
        <span class="col-md-2">Writing</span>
      </div>
      <div class="row hide-buttons">
        <div contenteditable="true" placeholder="Name" class="col-md-2">{{item.name}}</div>
        <div contenteditable="true" placeholder="Level" class="col-md-2">{{item.understanding}}</div>
        <div contenteditable="true" placeholder="Level" class="col-md-2">{{item.speaking}}</div>
        <div contenteditable="true" placeholder="Level" class="col-md-2">{{item.writing}}</div>
        <span data-id={{$index}} ng-click="deleteField('workingExperience', $event)"
              ng-class="showButtons.languages ? 'visible' : 'invisibleButton'">
        <i class="glyphicon glyphicon-minus minus"></i>
        <span class="minus">
          Remove Item
        </span>
      </span>
      </div>
    </div>
  </section>
  <section class="hide-buttons space" ng-mouseenter="showButtons.proSkills = true"
           ng-mouseleave="showButtons.proSkills = false">
    <h2>Professional Skills</h2>
    <div contenteditable="true" class="free" placeholder="e.g. team player">{{skills}}</div>
  </section>
</article>
