<div class="col-md-4">
  <aside class="sidebar-container">
    <section class="picture-wrapper">
      <div>
        <label for="picture-upload" class="custom-picture-upload upload-btn">
          <img class="upload-photo"
               src={{data.personalDetails.pictureSrc}}
               alt="Resume photo" title="Please upload a photo"/>
        </label>
        <input id="picture-upload" type="file" ng-model-instant
               onchange="angular.element(this).scope().imageUpload(event)" multiple/>
      </div>
    </section>
    <div>
      <h3 contenteditable="true" placeholder="Name" ng-model="data.personalDetails.name"></h3>
      <h4 contenteditable="true" placeholder="Current position" ng-model="data.personalDetails.currPos"></h4>
    </div>
    <div class="about-section">
      <hr>
      <h4><i class="glyphicon glyphicon-user"></i>About me</h4>
      <p contenteditable="true" placeholder="Details" ng-model="data.personalDetails.aboutMe">
      </p>
    </div>
    <div class="contact-section">
      <hr>
      <h4>Contact Info</h4>
      <div class="contact-phone">
        <i class="glyphicon glyphicon-earphone"></i>
        <span contenteditable="true" placeholder="Phone number" ng-model="data.personalDetails.phoneNumber"></span>
      </div>
      <div class="contact-address">
        <i class="glyphicon glyphicon-map-marker"></i>
        <span contenteditable="true" placeholder="Address" ng-model="data.personalDetails.address"></span>
      </div>
      <div class="contact-email">
        <i class="glyphicon glyphicon-envelope"></i>
        <span contenteditable="true" placeholder="E-mail" ng-model="data.personalDetails.email"></span>
      </div>
      <div class="contact-website">
        <i class="glyphicon glyphicon-globe"></i>
        <span contenteditable="true" placeholder="Website" ng-model="data.personalDetails.website"></span>
      </div>
    </div>
    <div class="social-section">
      <hr>
      <h4>Social Media</h4>
      <div class="social-skype">
        <i class="fa fa-skype"></i>
        <span contenteditable="true" placeholder="Skype ID" ng-model="data.personalDetails.skype"></span>
      </div>
      <div class="social-linkedin">
        <i class="fa fa-linkedin-square"></i>
        <span contenteditable="true" placeholder="LinkedIn profile" ng-model="data.personalDetails.linkedin"></span>
      </div>
    </div>
  </aside>
</div>
<article class="col-md-8">
  <section class="space" ng-mouseenter="showButtons.work = true; showButtons.workDelete = displayDeleteButton('work')"
           ng-mouseleave="showButtons.work = false; showButtons.workDelete = false">
    <h3>Work experience</h3>
    <hr>
    <div class="parent" ng-repeat="item in data.workingExperience">
      <div class="pull-left bulleted-text">
        <div contenteditable="true" placeholder="Position" class="fa fa-circle" ng-model="item.position"></div>
      </div>
      <div class="pull-right">
        <div>
          <div contenteditable="true" placeholder="Company name and location" ng-model="item.company"></div>
        </div>
          <div>From:
          <label class="date-label">
            <cv-date-picker date-value="item.dateStart" show="showButtons.work" ch-value="item.toPresent">
            </cv-date-picker>
          </label>
        </div>
        <div class="clearfix"></div>
        <div>To:
          <label class="date-label">
            <cv-date-picker date-value="item.dateEnd" show="showButtons.work" ch-value="item.toPresent" ch-use="true">
              <span ng-show="showButtons.work" class="date-span"><input ng-model='item.toPresent' type="checkbox"/>To Present</span>
            </cv-date-picker>
          </label>
        </div>
        <div>
          <div contenteditable="true" placeholder="Description" ng-model="item.description"></div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="rmv-btn" data-id={{$index}} ng-click="deleteField('workingExperience', $event , $index)"
           ng-class="showButtons.workDelete ? 'visible' : 'invisibleButton'">
        <i class="glyphicon glyphicon-minus minus"></i>
      </div>
      <hr class="hr-between-items">
    </div>
    <div class="plus-btn" ng-click="addField('workingExperience')"
         ng-class="showButtons.work ? 'visible' : 'invisibleButton'">
      <i class="glyphicon glyphicon-plus plus"></i>
    </div>
  </section>
  <section class="space"
           ng-mouseenter="showButtons.education = true; showButtons.educationDelete = displayDeleteButton('education')"
           ng-mouseleave="showButtons.education = false; showButtons.educationDelete = false">
    <h3>Education</h3>
    <hr>
    <div class="parent" ng-repeat="item in data.education">
      <div class="pull-left bulleted-text">
        <div contenteditable="true" placeholder="Degree" class="fa fa-circle" ng-model="item.degree"></div>
      </div>
      <div class="pull-right">
        <div>
          <div contenteditable="true" placeholder="School name and location" ng-model="item.school"></div>
        </div>
          <span>From:
          <label class="date-label">
            <cv-date-picker date-value="item.dateStart" show="showButtons.education" ch-value="item.toPresent">
            </cv-date-picker>
          </label>
        </span>
        <div class="clearfix"></div>
        <span>To:
          <label>
            <cv-date-picker date-value="item.dateEnd" show="showButtons.education" ch-value="item.toPresent"
                            ch-use="true">
              <span ng-show="showButtons.education"><input ng-model='item.toPresent' type="checkbox"/>To Present</span>
            </cv-date-picker>
          </label>
        </span>
        <div>
          <div contenteditable="true" placeholder="description" ng-model="item.description"></div>
        </div>
        <div class="rmv-btn" data-id={{$index}} ng-click="deleteField('education', $event, $index)"
             ng-class="showButtons.educationDelete ? 'visible' : 'invisibleButton'">
          <i class="glyphicon glyphicon-minus minus"></i>
        </div>

      </div>
      <div class="clearfix"></div>
      <hr class="hr-between-items">
    </div>
    <div class="plus-btn" ng-click="addField('education')"
         ng-class="showButtons.education ? 'visible' : 'invisibleButton'">
      <i class="glyphicon glyphicon-plus plus"></i>
    </div>
  </section>
  <section class="space"
           ng-mouseenter="showButtons.languages = true; showButtons.languagesDelete = displayDeleteButton('languages')"
           ng-mouseleave="showButtons.languages = false; showButtons.languagesDelete = false">
    <h3>Languages</h3>
    <hr>
    <div class="row">
      <span class="col-md-2 margins">Understanding</span>
      <span class="col-md-2 both-margins">Speaking</span>
      <span class="col-md-2 lang-margin">Writing</span>
      <hr class="hr-between-items  hr-margin">
    </div>
    <div class="parent" ng-repeat="item in data.languages">
      <div class="row hide-buttons">
        <div contenteditable="true" placeholder="Name" class="col-md-4 lang" ng-model="item.name"></div>
        <div contenteditable="true" placeholder="Level" class="col-md-4 language" ng-model="item.understanding"></div>
        <div contenteditable="true" placeholder="Level" class="col-md-4 language" ng-model="item.speaking"></div>
        <div contenteditable="true" placeholder="Level" class="col-md-4 language" ng-model="item.writing"></div>
        <div class="clearfix"></div>
        <div class="rmv-btn" data-id={{$index}} ng-click="deleteField('languages', $event, $index)"
             ng-class="showButtons.languagesDelete ? 'visible' : 'invisibleButton'">
          <i class="glyphicon glyphicon-minus minus"></i>
        </div>
        <hr class="hr-between-items">
      </div>
    </div>
    <div class="plus-btn" ng-click="addField('languages')"
         ng-class="showButtons.languages ? 'visible' : 'invisibleButton'">
      <i class="glyphicon glyphicon-plus plus"></i>
    </div>
  </section>
  <section class="hide-buttons space" ng-mouseenter="showButtons.proSkills = true"
           ng-mouseleave="showButtons.proSkills = false">
    <h3>Professional skills</h3>
    <hr>
    <div contenteditable="true" placeholder="e.g. team player" class="skills-section" ng-model="data.skills"></div>
  </section>
</article>
